* {font-family: 'Roboto Condensed', sans-serif;box-sizing:border-box}
html,body {height: 100%;margin:0}
.toolbar{width:100%;padding:10px;background:#444;color:#fff;position: fixed;top: 0;}
.notifications{line-height:24px;font-size:12px;}

#glyphsCont { padding: 70px 30px;}
.layer {display:inline-block;padding:2px 10px;width:100%;min-width:300px;}
.layer > div{display:inline-block;font-weight:400;font-size:15px;}

.list{display:inline-block;width:100%;}
.list > div{display:inline-block}
.code{width:100px;}