* {font-family: 'Roboto Condensed', sans-serif;box-sizing:border-box}
html,body {height: 100%;margin:0}
.toolbar{width:100%;padding:10px;background:#444;color:#fff}
.notifications{line-height:24px;font-size:12px;}
#txtArea{position:absolute;left:-9999px}
#mySVG{display:none}

.layer {display:inline-block;padding:2px 10px;width:25%;min-width:300px;max-width:350px;}
.layer > div{display:inline-block;font-weight:400;font-size:15px;}
.layer > div.icon{font-family:"CustomFont";font-size:28px;width:50px;text-align:center}
.layer .iName{line-height:33px;}
.layer .iCode{color:#999;line-height:33px;}