* {font-family: arial;box-sizing:border-box}
html,body {height: 100%;margin:0}
.toolbar{width:100%;padding:10px;background:#444;color:#fff}
#txtArea{position:absolute;left:-9999px}
#mySVG{display:none}

.layer {display:inline-block;padding:5px 10px;width:25%;min-width:250px;max-width:300px;}
.layer > div{display:inline-block}
.layer .icon{font-family:"CustomFont";font-size:28px;width:50px;text-align:center}
.layer .iCode{width:50px;}